{% extends 'layouts/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1 class="title">{{ title }}</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert_warning">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        <label for="username">Nombre de usuario</label>
        <input type="text" name="username" id="username"/>
        <label for="password">Nombre de usuario</label>
        <input type="password" name="password" id="password"/>
        <input type="submit" value="Iniciar">
    </form>
{% endblock %}
