<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{% block title %} {% endblock %} | Edwin</title>
    {% block scripts %} {% endblock %}
</head>
<body>
<header>
    <div id="logotipo">
        <img src="{% static 'images/logo.png' %}">
        <h1>Proyecto Web con Django | Edwin</h1>

    </div>
</header>
<nav>
    <ul>
        <li>
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        {% if user.email %}
            <li>
                <a href="/admin/">admin</a>
            </li>
            <li>
                <a href="{% url 'list_articles' %}">Categorías</a>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'category' category.0 %}">{{ category.1 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            {% for page in pages %}
                <li>
                    <a href="{% url 'page' page.2 %}">{{ page.1 }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'login' %}">Iniciar sesión</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Registro</a>
            </li>
        {% endif %}

    </ul>
</nav>
<div class="barra">
    <span class="esquina-izquierda"></span>
    <span class="relleno-barra"></span>
    <span class="esquina-derecha"></span>
</div>
<div id="content">
    <div class="box">
        {% block content %}
            <strong> contenido del bloque original </strong>
        {% endblock %}
    </div>
</div>
<footer>
    Master en Python &copy Edwin Ariza {% now "d/M/Y" %}
</footer>
</body>
</html>