<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{% block title %} {% endblock %}| Edwin</title>
    {% block scripts %} {% endblock %}
</head>
<body>
<header>
    <div id="logotipo">
        <img src="{% static 'images/logo.png' %}">
        <h1>Sitio Web con Django | Edwin</h1>
    </div>
</header>
<nav>
    <ul>
        <li>
            <a href="{% url 'inicio' %}">Inicio</a>
        </li>
        <li>
            <a href="{% url 'hola_mundo' %}">Hola mundo</a>
        </li>
        <li>
            <a href="{% url 'pagina' %}">Pagina</a>
        </li>
        <li>
            <a href="{% url 'contacto' 'Edwin' 'Ariza' %}">Contacto</a>
        </li>
        <li>
            <a href="{% url 'listar_articulos' %}">Articulos</a>
        </li>
        <li>
            <a href="{% url 'create' %}">Crear</a>
        </li>
        <li>
            <a href="{% url 'create_full' %}">Crear 2</a>
        </li>
        <li>
            <a href="{% url 'velas' %}">Registrar pedido</a>
        </li>
    </ul>
</nav>
<div class="barra">
    <span class="esquina-izquierda"></span>
    <span class="relleno-barra"></span>
    <span class="esquina-derecha"></span>
</div>
<div id="content">
    <div class="box">
        {% block content %}
            <strong> contenido del bloque original </strong>
        {% endblock %}
    </div>
</div>
<footer>
    Master en Python &copy Edwin Ariza {% now "d/M/Y" %}
</footer>
</body>
</html>